.env
/.bundle

/db/*.sqlite3
/db/*.sqlite3-*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/config/master.key

/config/database.yml
/config/credentials.yml.enc

/vendor/bundle
/coverage/
/log/
/tmp/
/byebug_history
/.rspec
/ruby-prof
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
/config/master.key


*.swp
*.swo
*.idea
*.vscode
*.DS_Store

/coverage/

config/secrets.yml

/public/assets/
public/packs/
public/packs-test/

.yarn-integrity
package-lock.json
yarn-error.log

